.debug header{
    height: 75px;
}

.debug footer .top{
    background-color: var(--secondary-light);
}

.debug footer .bottom{
    background-color: var(--secondary);
}

.debug .star{
    background-color: gray;
    height: 50px;
    width: 25%;
    margin: auto;
}

:root{
    --font-family: 'Helvetica', sans-serif;
    --primary: #1bbd9c;
    --secondary: #2c3f51;
    --secondary-light: #3a556c;
}

header{
    background-color: var(--secondary);
}

section:nth-child(odd){
    background-color: var(--primary);
}

.avatar{
    max-width: 220px;
}

