:root{
    --font-family: 'Helvetica', sans-serif;
    --primary: #1bbd9c;
    --secondary: #2c3f51;
    --secondary-light: #3a556c;
}

.bg_primary{
    background-color: var(--primary);
}

.bg_secondary{
    background-color: var(--secondary);
}

section:nth-child(odd){
    background-color: var(--primary);
}

section:nth-child(even){
    color: var(--secondary);
}

.avatar{
    max-width: 220px;
}

.line{
    width: 15%;
    max-width: 170px;
    border: none;
    border-top: 4px solid;
    border-radius: 6px;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}


footer .top{
    background-color: var(--secondary-light);
}

.social-icon{
    border: 1px solid white;
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    border-radius: 50%;
    margin: 0 0.25rem;
}

.social-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.freelance a{
    color: var(--primary);
}

footer .bottom{
    background-color: var(--secondary);
}